@import '../../style/variables';

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  background-color: var(--background-color);
  height: 100vh;
}

.header {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.avatar {
  width: 30px;
  height: 30px;
}

.btn {
  background-color: var(--primary-color);  
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 18px;
  border: none;
  color: var(--text-color);
  line-height: 50px;
  height: 50px;
  width: 250px;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }
}

.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 95px);
}

.btn_wrapper {
  display: grid;
  grid-template-columns: 250px 400px 250px;
  grid-template-rows: repeat(3, 150px);
  grid-template-areas:
    '. play .'
    'forum . profile'
    '. leaders .';
  max-width: 900px;
  max-height: 270px;
  margin: auto;
}

.btn_play {
  margin: 0 auto;
  grid-area: play;
}

.btn_forum {
  grid-area: forum;
}

.btn_profile {
  grid-area: profile;
}

.btn_leaders {
  grid-area: leaders;
  width: 400px;
}
