@import '../../style/variables';

.link, .link:visited {
  text-decoration: none;
  color: var(--alternative-text-color);
  font-size: 20px;
}

.active {
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: underline;
}
