@import '../../style/variables';

.wrapper {
  background-color: var(--background-color);
  height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 95px);
}
