@import '../../style/variables';
@import '../../style/fonts';

.userProfileButton {
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: $border-raduis;
  height: 3.125rem;
  max-width: 18.75rem;
  width: 100%;
  &:hover {
    opacity: 0.8;
  }
}

.userProfileButtonText {
  text-shadow: 0 4px 4px 0 $shadow-color;
}
