@import '../../style/variables';

.link {
  border: none;
  border-radius: 50%;
  display: flex;
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.img {
  margin: auto;
  width: 24px;
  height: 24px;
}
